
<div class="flex mb-5 mt-5" > 
    <div class="row mg-bottom">
        <ng-container *ngFor="let photo of photos">
            <app-photo-item class="col-xs-12 col-md-3" [photo]="photo"></app-photo-item>
        </ng-container>
    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.2)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScroll()"
></div>
<loading-spinner *ngIf="!finished"></loading-spinner>
<div *ngIf="!finished">
    Loading more movies...
   </div>
<div class="notification is-warning" *ngIf="finished">End of database my friends</div>