<div class="card  card-body mb-3" >
    <h5 class="card-title mb-5">Edit Photo</h5>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="editAlbumId">Album Id:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="editAlbumId" placeholder="Id"
                required [(ngModel)]="selectedPhotoAlbumId" name="editAlbumId" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="editId">Id:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="editId" placeholder="Id"
                required [(ngModel)]="selectedPhotoId" name="editId" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="editId">Title:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="editTitle" placeholder="Edit title..."
                required [(ngModel)]="selectedPhotoTitle" name="editTitle">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="editId">Url:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="editUrl" placeholder="Edit url..."
                required [(ngModel)]="selectedPhotoUrl" name="editUrl">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="editThumbUrl">ThumbUrl:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="editThumbUrl" placeholder="Edit thumburl..."
                required [(ngModel)]="selectedPhotoThumbUrl" name="editThumbUrl">
            </div>
        </div>
        <input type="submit" value="Save" class=" btn btn-secondary btn-sm mr-2" [disabled]="!form.valid">
        <input type="button" value="Clear" class=" btn btn-warning btn-sm" (click)="resetField()">
    </form>
   


</div>

