<form class="form-inline my-2 my-lg-0 ml-auto">
    <input class="form-control mr-sm-2" type="input" (keyup)="findPhoto(photo)" id="searchPhoto" placeholder="Search photo.." aria-label="Search" [(ngModel)]="photo">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
    (click)="findPhoto(photo)" [disabled]="!photo">Search</button>
  </form>
  <!-- <p class="lead">Enter user to fetch user profile and repos from Github...</p>
    <input type="input"  (keyup)="findUsers(user)" class="form-control" id="searchUser" placeholder="find user..." required [(ngModel)]="user">
    <button type="submit" class="btn btn-primary btn-block mt-3" (click)="findUser(user)" [disabled]="!user"> <i class="fa fa-search "></i> Search</button> -->
